




.logo{
    font-family: 'Anton', sans-serif;
    color: #e50914 !important;
    font-size: 2.5rem;
    margin: auto 3rem ;
}

.btn{
    border-radius: 0 !important;
}

.navbar-toggler-icon{
    background-image: url('./images/menu.svg');
}

.display-heading{
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
}

@media (max-width: 768px) { 
    .btn{
        display: block;
        margin:2rem auto;
        width: 98%;
    }
 }